<div class="boil-content">
    <mat-card class="preboil-values-card mat-elevation-z10">
        <mat-card-header>
            <mat-card-title>Preboil values</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="preboil-form-card mat-elevation-z8">
                <mat-card-content>
                    <form class="preboil-form" [formGroup]="preboilForm" (ngSubmit)="submitPreboilForm()">
                        <mat-form-field class="form-field">
                            <input matInput placeholder="Preboil volume" type="text" formControlName="preboilVolume">
                            <mat-hint>Enter number of liters of wort in start of boil</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="form-field">
                            <input matInput placeholder="Preboil sg" type="text" formControlName="preboilSg">
                            <mat-hint>Enter sepcifig gravity in start of boil</mat-hint>
                        </mat-form-field>
                        <button mat-raised-button type="submit">Save</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
    <div *ngIf="suggestedSgAdjustment">
        <mat-card class="boil-suggestion-card mat-elevation-z10">
            <mat-card-header>
                <mat-card-title>Boil adjustment suggestion</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="boil-suggestion-info-card mat-elevation-z8">
                    <mat-card-content>
                        <h3>{{suggestedSgAdjustment}}</h3>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>       
        <mat-card class="boil-adjustment-card mat-elevation-z10">
            <mat-card-header>
                <mat-card-title>Boil adjustment action</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="boil-adjustment-form-card mat-elevation-z8">
                    <mat-card-content>
                        <mat-radio-group class="adjustment-radio-btn-group" [(ngModel)]="adjustmentType" name="adjustment">
                            <mat-radio-button value="water">Add water</mat-radio-button>
                            <mat-radio-button value="time">Extend boiltime</mat-radio-button>
                        </mat-radio-group>                  
                        <form class="boil-adjustment-form" [formGroup]="boilAdjustmentForm" (ngSubmit)="submitBoilAdjustmentForm()">                  
                            <mat-form-field class="form-field" *ngIf="adjustmentType === 'water'">
                                <input matInput placeholder="Water added" type="text" formControlName="addWater">
                                <mat-hint>Enter the number of liters of water added to boil</mat-hint>
                            </mat-form-field>
                            <mat-form-field  class="form-field" *ngIf="adjustmentType === 'time'">
                                <input matInput placeholder="Minutes added" type="text" formControlName="addMinutes">
                                <mat-hint>Enter the number of minutes added to boil time</mat-hint>
                            </mat-form-field>
                            <button mat-raised-button type="submit">Save to log</button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
        
    </div>  
    <div *ngIf="suggestedSgAdjustment" class="boil-complete-button">
        <button mat-raised-button (click)="boilComplete()">Boil Complete</button>
    </div>  
    <app-log-note></app-log-note> 
</div>