.preboil-form, .boil-adjustment-form{
    display: flex;
    flex-direction: column;
}

.boil-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preboil-values-card{
    background-image: linear-gradient(to right top, #574426, #634e2d, #6f5833, #7b623a, #876d41, #8d7342, #947843, #9a7e44, #9c803f, #9d823a, #9e8434, #9f862e);
    margin: 1rem;
    align-self: flex-start;
}

.preboil-form-card{
    background-color: #a28f65; 
}

.preboil-form-card .form-field{
    margin-bottom: 0.8rem;
}

.preboil-form-card button{
    margin: 0.5rem;
}

.boil-suggestion-card{
    background-image: linear-gradient(to right top, #574426, #634e2d, #6f5833, #7b623a, #876d41, #8d7342, #947843, #9a7e44, #9c803f, #9d823a, #9e8434, #9f862e);
    margin: 1rem;
}

.boil-suggestion-info-card{
    background-color: #a28f65; 
}

.boil-adjustment-card{
    background-image: linear-gradient(to right top, #574426, #634e2d, #6f5833, #7b623a, #876d41, #8d7342, #947843, #9a7e44, #9c803f, #9d823a, #9e8434, #9f862e);
    margin: 1rem;
}

.boil-adjustment-form-card{
    background-color: #a28f65; 
}

.boil-adjustment-form-card button{
    margin-top: 0.8rem;
}

.boil-complete-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem;
}

.adjustment-radio-btn-group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.8rem;
}